[Bb]uild
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
appsettings.Development.json
appsettings.Production.json
*.DS_STORE
[Tt]humbs.db

*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
*.dbmdl
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

# tools
_ReSharper.*
_Resharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/


.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/vcs.xml
.idea/**/module.xml
.idea/**/misc.xml
